<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">اعدادات المستخدم</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
       routerLink="../historylogin">سجل تسجيل الدخول</a>
  </li>
</ul>

<div class="row mt-2">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-header">
        <i class="fa fa-calendar"></i>
        <span>11/06/2015</span>
      </div>
      <div class="card-body">
       <div class="row">
         <div class="col-sm-3">
           <i class="fa fa-wifi"></i>
           <p>عنوان IP <span>10.10.10.2</span></p>

         </div>
         <div class="col-sm-3">
           <i class="fa fa-windows"></i>
           <p>نوع الجهاز <span>Windows</span></p>

         </div>
         <div class="col-sm-3">
           <i class="fa fa-chrome"></i>
           <p>نوع المتصفح <span>Chrome</span></p>

         </div>
         <div class="col-sm-3">
           <i class="fa fa-clock-o"></i>
           <p>الوقت <br><span> 10:00 ص</span></p>

         </div>
       </div>
      </div>
      <div class="card-footer text-muted">
        <i class="fa fa-clock-o"></i>
        <span>12:00 ص</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-header">
        <i class="fa fa-calendar"></i>
        <span>11/06/2015</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-wifi"></i>
            <p>عنوان IP <span>10.10.10.2</span></p>

          </div>
          <div class="col-sm-3">
            <i class="fa fa-apple"></i>
            <p>نوع الجهاز <span>MAC</span></p>

          </div>
          <div class="col-sm-3">
            <i class="fa fa-firefox"></i>
            <p>نوع المتصفح <span>Firefox</span></p>

          </div>
          <div class="col-sm-3">
            <i class="fa fa-clock-o"></i>
            <p>الوقت <br><span> 10:00 ص</span></p>

          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <i class="fa fa-clock-o"></i>
        <span>09:20 ص</span>

      </div>
    </div>
  </div>
</div>
