<app-search-bar id="search-container" class="hidden" [from]="'transform'" (searchValue)="getValue($event)"></app-search-bar>

<div class="jumbotron jumbotron-fluid">

  <div class="page-container">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="text-store-lang">اضافه سند توريد</h4>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid filter-container p-3">
  <p class="text-muted">
    <span class="small">قم بملئ الخانات الاتيه والتأكد من سلامه المعلومات المدخله والضغط علي حفظ </span><br>
  </p>
  <div class="d-flex justify-content-center" *ngIf="!supplyName">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="container p-2" style="flex-direction: column;" *ngIf="supplyName">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="addItemForm" id="addItemForm" (ngSubmit)="addItemSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="transformPermissionName" class="text-muted">اسم سند التوريد
            </label>
            <input type="text" class="form-control" tabindex="-1" readonly [value]="supplyName" formControlName="SupplyOrderName" id="transformPermissionName" placeholder="اسم سند التوريد">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="transformPermissionDate" class="text-muted">تاريخ الطلب
              <span class="text-error">*</span>
            </label>
            <input type="text"
                   placeholder="تاريخ الطلب"
                   class="form-control"
                   id="transformPermissionDate"
                   bsDatepicker
                   #dp=bsDatepicker
                   [bsValue]="today"
                   (focus)="dp.show()"
                   readonly
                   formControlName="SupplyOrderDate" required>
            <span class="text-error" *ngIf="addItemForm.get('SupplyOrderDate').touched && addItemForm.get('SupplyOrderDate').invalid">تاريخ الطلب مطلوب</span>
          </div>
        </div>


      </div>
  <div class="row p-2">
    <div style="width: 100%">
      <table class="table table-bordered table-sm">
        <thead>
        <tr>
          <th scope="col">
            كود الصنف</th>
          <th scope="col">

            اسم الصنف
          </th>
          <th scope="col">
            الي مخزن</th>
          <th scope="col">
            اسم الموظف</th>
          <th scope="col" class="text-center" colspan="2">
            <span>الكميه</span><br>
            <span>الكرتونه</span>
            <span>/</span>
            <span>العدد</span>

          </th>
          <th scope="col">
            الاجراءات</th>
        </tr>
        </thead>
        <tbody formArrayName="SupplyDataObj">
        <ng-container *ngFor="let details of addItemForm.get('SupplyDataObj').controls; let i = index;" >

        <tr [formGroupName]="i" [ngClass]="(duplicatedItem === i || errorRow === i || zerosRow === i) ? 'bg-danger' : 'bg-white'">
          <td class="column-divided">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="ItemsCode_FK" placeholder="كود الصنف" (dblclick)="openSearchBar(i)" (focus)="currentEditIndex = i" (keyup.Tab)="currentEditIndex = i" (change)="getItemName(details.get('ItemsCode_FK').value, details.get('ItemsId_FK'), details.get('StockName_To_FK'), i)">
            </div>
            <span class="text-error" *ngIf="details.get('ItemsCode_FK').touched && details.get('ItemsCode_FK').invalid">كود الصنف مطلوب</span>
          </td>
          <td class="column-divided">
            <div class="form-group">
              <input *ngIf="translate.currentLang === 'ar'"  [ngStyle]="{'color': details.get('StockName_To_FK')?.value?.indexOf('لا يوجد') <= -1  ? 'black' : 'red' }" class="form-control" disabled [value]="details.get('StockName_To_FK')?.value" formControlName="StockName_To_FK">
              <input *ngIf="translate.currentLang === 'en'" [ngStyle]="{'color': details.get('StockName_To_FK')?.value?.indexOf('not found') <= -1  ? 'black' : 'red' }" class="form-control" disabled [value]="details.get('StockName_To_FK')?.value" formControlName="StockName_To_FK">
            </div>
          </td>
          <td class="flex-table">
            <div class="form-group">
              <angular2-multiselect  [loading] = "loadingTo" id="stockIdTo"  (onScrollToEnd)="loadMoreStockTo($event)"  *ngIf="allStoresTo" [data]="allStoresTo?.m_Item1" [settings]="(duplicatedItem !== -1 && duplicatedItem !== i) ? disabledOption : dropdownSettings" formControlName="StockId_FK" (keyup.Tab)="focusStockTo($event); currentEditIndex = i" (onOpen)="checkStoreToValue(details.get('StockId_FK'), i)" (onSelect)="checkDuplicated(details.get('StockId_FK')?.value[0]?.value, details.get('ItemsId_FK').value, i)">
                <c-search>
                  <ng-template>
                    <input type="text" (keyup)="onSearchTo($event, i + 1)" [placeholder]="translate.currentLang === 'ar' ?  'كلمه البحث' : 'Search'"/>
                  </ng-template>
                </c-search>
                <c-item>
                  <ng-template let-item="item">
                    <label>{{item.label}}</label>
                  </ng-template>

                </c-item>
              </angular2-multiselect>
              <span class="text-error" *ngIf="details.get('StockId_FK')?.errors !== null && details.get('StockId_FK')?.errors === 'empty'">اسم المخزن مطلوب</span>

            </div>
          </td>
          <td class="flex-table">
            <div class="form-group">
              <angular2-multiselect  [loading] = "loadingReciver" id="receiveId"  (onScrollToEnd)="loadMoreEmp($event)"  *ngIf="allEmp" [data]="allEmp?.m_Item1" formControlName="RecievedId_FK" (keyup.Tab)="focusEmp($event); currentEditIndex = i" [settings]="dropdownSettings" (onOpen)="checkEmpValue(details.get('RecievedId_FK'), i)">
                <c-search>
                  <ng-template>
                    <input type="text" (keyup)="onSearchEmp($event, i + 1)" [placeholder]="translate.currentLang === 'ar' ?  'كلمه البحث' : 'Search'"/>
                  </ng-template>
                </c-search>
                <c-item>
                  <ng-template let-item="item">
                    <label>{{item.label}}</label>
                  </ng-template>

                </c-item>
              </angular2-multiselect>
              <span class="text-error" *ngIf="details.get('RecievedId_FK')?.errors !== null && details.get('RecievedId_FK')?.errors === 'empty'">اسم الموظف مطلوب</span>
            </div>
          </td>
          <td class="column-divided">
            <input type="number" min="0" class="form-control" formControlName="SupplyQuantityBox" required id="items-count" [readOnly]="(!(details.get('ItemsId_FK')?.value && details.get('StockId_FK')?.value[0]?.value) || (errorRow !== -1 && errorRow !== i) || duplicatedItem !== -1)" (change)="checkQuantity(details.get('SupplyQuantityBox').value, details.get('SupplyQuantityNumber').value, i)">
            <ng-container *ngIf="details.get('SupplyQuantityBox').touched && details.get('SupplyQuantityBox').errors">
              <span class="text-error" *ngIf="details.get('SupplyQuantityBox').touched && details.get('SupplyQuantityBox').errors.required">عدد العناصر مطلوب</span>
              <span class="text-error" *ngIf="details.get('SupplyQuantityBox').errors.min">عدد العناصر لابد ان يكون رقم صحيح</span>
            </ng-container>
          </td>
          <td class="column-divided">
            <input type="number" min="0" class="form-control" formControlName="SupplyQuantityNumber" required [readOnly]="(!(details.get('ItemsId_FK')?.value && details.get('StockId_FK')?.value[0]?.value) || (errorRow !== -1 && errorRow !== i) || duplicatedItem !== -1)" (change)="checkQuantity(details.get('SupplyQuantityBox').value, details.get('SupplyQuantityNumber').value, i)">
            <ng-container *ngIf="details.get('SupplyQuantityNumber').touched && details.get('SupplyQuantityNumber').errors">
              <span class="text-error" *ngIf="details.get('SupplyQuantityNumber').touched && details.get('SupplyQuantityNumber').errors.required">عدد العناصر مطلوب</span>
              <span class="text-error" *ngIf="details.get('SupplyQuantityNumber').errors.min">عدد العناصر لابد ان يكون رقم صحيح</span>
            </ng-container>

          </td>
          <td>
            <button *ngIf="details.get('ItemsCode_FK').touched && supplyItems.length > 1" type="button" class="btn btn-sm btn-danger" [disabled]="(duplicatedItem !== -1 && duplicatedItem !== i)" (click)="removeItem(i)">
              <i class="fa fa-trash"></i>

              حذف
            </button>
          </td>


        </tr>
        </ng-container>

        </tbody>
      </table>
      <div class="row text-center" style="display: block">
        <button type="button" class="btn btn-sm btn-success" (click)="addMoreRows()" [disabled]="errorRow !== -1 || supplyItems.length === 0 || notFound || duplicatedItem !== -1 || zerosRow !== -1">
          <i class="fa fa-plus"></i>

          اضافه سند
        </button>
      </div>
    </div>

  </div>
    </form>
    <div class="row" style="background-color: #dee2e6; padding: 10px;">
      <div class="col-sm-12 text-left">
        <button type="submit" form="addItemForm" class="btn btn-success btn-sm" [disabled]="errorRow !== -1 || supplyItems.length === 0 || notFound || duplicatedItem !== -1 || zerosRow !== -1">
      <span>

                حفظ
      </span>
        </button>
        <button type="button" form="addItemForm" class="btn btn-danger btn-sm" [disabled]="!addItemForm.touched" [ngClass]="translate.currentLang === 'ar' ? 'mr-1' : 'ml-1'" (click)="resetForm()">
      <span>

                تفريغ
      </span>
        </button>
      </div>

    </div>
  </div>
</div>


